body {
  font-family: Arial, sans-serif;
}

.conteudo {
  margin-top: 20px;
}

h1 {
  color: #333;
}

h2 {
  font-size: 24px;
  color: #333;
}

p {
  margin-bottom: 10px;
}

.impar {
  font-size: 16pt;
  font-family: Arial, sans-serif;
  color: red;
}

.par {
  font-size: 20pt;
  font-family: Verdana, sans-serif;
  color: blue;
}
